In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.dummy import DummyClassifier
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import RidgeClassifier
from sklearn.model_selection import cross_val_score
from joblib import dump, load

/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [11]:
print("loading preprocessed data..")
dataset = pd.read_csv('preprocessedDataset2.csv')
dataset.head()

,Unnamed: 0,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,...,Age,Height,Weight,Number of siblings,Gender,Left - right handed,Education,Only child,Village - town,House - block of flats
0,0,5.0,3.0,2.0,1.0,2.0,2.0,1.0,5.0,5.0,...,20.0,163.0,48.0,1.0,0.0,0.0,4.0,0.0,1.0,0.0
1,1,4.0,4.0,2.0,1.0,1.0,1.0,2.0,3.0,5.0,...,19.0,163.0,58.0,2.0,0.0,0.0,4.0,0.0,0.0,0.0
2,2,5.0,5.0,2.0,2.0,3.0,4.0,5.0,3.0,5.0,...,20.0,176.0,67.0,2.0,0.0,0.0,3.0,0.0,0.0,0.0
3,3,5.0,3.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,...,22.0,172.0,59.0,1.0,0.0,0.0,4.0,1.0,0.0,1.0
4,4,5.0,3.0,4.0,3.0,2.0,4.0,3.0,5.0,3.0,...,20.0,170.0,59.0,1.0,0.0,0.0,3.0,0.0,1.0,1.0

In [12]:
dataset = dataset.drop('Unnamed: 0',1)
dataset.head()

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Age,Height,Weight,Number of siblings,Gender,Left - right handed,Education,Only child,Village - town,House - block of flats
0,5.0,3.0,2.0,1.0,2.0,2.0,1.0,5.0,5.0,1.0,...,20.0,163.0,48.0,1.0,0.0,0.0,4.0,0.0,1.0,0.0
1,4.0,4.0,2.0,1.0,1.0,1.0,2.0,3.0,5.0,4.0,...,19.0,163.0,58.0,2.0,0.0,0.0,4.0,0.0,0.0,0.0
2,5.0,5.0,2.0,2.0,3.0,4.0,5.0,3.0,5.0,3.0,...,20.0,176.0,67.0,2.0,0.0,0.0,3.0,0.0,0.0,0.0
3,5.0,3.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,...,22.0,172.0,59.0,1.0,0.0,0.0,4.0,1.0,0.0,1.0
4,5.0,3.0,4.0,3.0,2.0,4.0,3.0,5.0,3.0,1.0,...,20.0,170.0,59.0,1.0,0.0,0.0,3.0,0.0,1.0,1.0

In [13]:
y = dataset['Empathy']
del dataset['Empathy']
dataset.shape

(1007, 149)

In [14]:
print("splitting into train and test set..")

X_train, X_test, y_train, y_test = train_test_split(dataset, y, test_size=0.2,random_state = 0)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(805, 149) (805,)
(202, 149) (202,)

In [23]:
print("loading models ")
DummyClf = load('dummyClf.joblib') 
RidgeClf = load('RidgeClf.joblib') 
RidgefClf = load('Ridge-fClf.joblib')

loading models

In [24]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
X_new2 = SelectKBest(f_classif, k=70).fit_transform(dataset, y)
X_new2.shape

(1007, 70)

In [25]:
X_trainf, X_testf, y_trainf, y_testf = train_test_split(X_new2, y, test_size=0.2,random_state = 0)

In [28]:
print("max_frequent classifier (BASELINE) test accuracy = " + str(DummyClf.score(X_test,y_test)))

max_frequent classifier test accuracy = 0.6534653465346535

In [27]:
print("Ridge classifier test (to compare) accuracy = " + str(RidgeClf.score(X_test,y_test)))

Ridge classifier test accuracy = 0.7227722772277227

In [26]:
print("Ridge classifier + selectKBest f-classif (best) test accuracy = " + str(RidgefClf.score(X_testf,y_testf)))

Ridge classifier + selectKBest f-classif test accuracy = 0.7772277227722773