In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.dummy import DummyClassifier
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import RidgeClassifier
from sklearn.model_selection import cross_val_score
from joblib import dump, load

In [3]:
dataset = pd.read_csv('preprocessedDataset2.csv')
dataset.head()

,Unnamed: 0,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,...,Age,Height,Weight,Number of siblings,Gender,Left - right handed,Education,Only child,Village - town,House - block of flats
0,0,5.0,3.0,2.0,1.0,2.0,2.0,1.0,5.0,5.0,...,20.0,163.0,48.0,1.0,0.0,0.0,4.0,0.0,1.0,0.0
1,1,4.0,4.0,2.0,1.0,1.0,1.0,2.0,3.0,5.0,...,19.0,163.0,58.0,2.0,0.0,0.0,4.0,0.0,0.0,0.0
2,2,5.0,5.0,2.0,2.0,3.0,4.0,5.0,3.0,5.0,...,20.0,176.0,67.0,2.0,0.0,0.0,3.0,0.0,0.0,0.0
3,3,5.0,3.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,...,22.0,172.0,59.0,1.0,0.0,0.0,4.0,1.0,0.0,1.0
4,4,5.0,3.0,4.0,3.0,2.0,4.0,3.0,5.0,3.0,...,20.0,170.0,59.0,1.0,0.0,0.0,3.0,0.0,1.0,1.0

In [6]:
dataset = dataset.drop('Unnamed: 0',1)
dataset.head()

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Age,Height,Weight,Number of siblings,Gender,Left - right handed,Education,Only child,Village - town,House - block of flats
0,5.0,3.0,2.0,1.0,2.0,2.0,1.0,5.0,5.0,1.0,...,20.0,163.0,48.0,1.0,0.0,0.0,4.0,0.0,1.0,0.0
1,4.0,4.0,2.0,1.0,1.0,1.0,2.0,3.0,5.0,4.0,...,19.0,163.0,58.0,2.0,0.0,0.0,4.0,0.0,0.0,0.0
2,5.0,5.0,2.0,2.0,3.0,4.0,5.0,3.0,5.0,3.0,...,20.0,176.0,67.0,2.0,0.0,0.0,3.0,0.0,0.0,0.0
3,5.0,3.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,...,22.0,172.0,59.0,1.0,0.0,0.0,4.0,1.0,0.0,1.0
4,5.0,3.0,4.0,3.0,2.0,4.0,3.0,5.0,3.0,1.0,...,20.0,170.0,59.0,1.0,0.0,0.0,3.0,0.0,1.0,1.0

In [7]:
dataset.shape

(1007, 150)

In [35]:
y = dataset['Empathy']
del dataset['Empathy']
dataset.shape

(1007, 149)

In [107]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(dataset, y, test_size=0.2,random_state = 0)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(805, 149) (805,)
(202, 149) (202,)

## Dummy classifier

In [109]:
clfDummy = DummyClassifier(strategy='most_frequent',random_state=0)
clfDummy.fit(X_train, y_train)

DummyClassifier(constant=None, random_state=0, strategy='most_frequent')

In [110]:
clfDummy.score(X_test,y_test)

0.6534653465346535

In [111]:
dump(clfDummy, 'dummyClf.joblib')

['dummyClf.joblib']

## Ridge classifier

In [122]:
#hyperparameter tuning
for i in [0.5,5,50,100,200,400,800,1000,2000]:
    clf = RidgeClassifier(alpha=i,fit_intercept=True)
    scores = cross_val_score(clf,X_train,y_train,cv=10)
    print("alpha = "+ str(i) +" , acc = " + str(np.mean(scores)))

alpha = 0.5 , acc = 0.6917901234567901
alpha = 5 , acc = 0.6917901234567901
alpha = 50 , acc = 0.6992438271604939
alpha = 100 , acc = 0.704212962962963
alpha = 200 , acc = 0.7055092592592593
alpha = 400 , acc = 0.7178858024691358
alpha = 800 , acc = 0.7141203703703703
alpha = 1000 , acc = 0.7203395061728395
alpha = 2000 , acc = 0.7080092592592593

In [124]:
from sklearn.linear_model import RidgeClassifier
clf = RidgeClassifier(alpha=1000,fit_intercept=True)
clf.fit(X_train,y_train)
print("test acc = " + str(clf.score(X_test,y_test)))
print("train acc = " +str(clf.score(X_train,y_train)))

test acc = 0.7227722772277227
train acc = 0.7850931677018633

In [125]:
dump(clf, 'RidgeClf.joblib')

['RidgeClf.joblib']

In [127]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
X_new2 = SelectKBest(f_classif, k=70).fit_transform(dataset, y)
X_new2.shape

(1007, 70)

In [128]:
X_trainf, X_testf, y_trainf, y_testf = train_test_split(X_new2, y, test_size=0.2,random_state = 0)

In [129]:
from sklearn.linear_model import RidgeClassifier
clf = RidgeClassifier(alpha=1000).fit(X_trainf, y_trainf)
print("test accuracy = " + str( clf.score(X_testf, y_testf) ))
print("train accuracy = " + str( clf.score(X_trainf, y_trainf) ))

test accuracy = 0.7772277227722773
train accuracy = 0.7503105590062111

In [130]:
dump(clf, 'Ridge-fClf.joblib')

['Ridge-fClf.joblib']